<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457148036453-31ebm51of0mc7kfnuso5aehdn09q2apv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457148036453-31ebm51of0mc7kfnuso5aehdn09q2apv</string>
	<key>API_KEY</key>
	<string>AIzaSyAkNGBsm_ogUcRXY33vE3icDtK06ukBpY0</string>
	<key>GCM_SENDER_ID</key>
	<string>457148036453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.curryandburger.app</string>
	<key>PROJECT_ID</key>
	<string>fumiav2</string>
	<key>STORAGE_BUCKET</key>
	<string>fumiav2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457148036453:ios:86ac7fa0fe186199779d8c</string>
	<key>DATABASE_URL</key>
	<string>https://fumiav2-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>